/* -------------
   * commom *
* ------------- */
html{color:#000;background:#eeeeee;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend{color:#000;}del,ins{text-decoration:none;}

body{font-family: "微软雅黑", "宋体", Arial, sans-serif; font-size: 12px; color:#666666; background:#eeeeee !important; padding:0px;}
button { 
	height: 28px;
	overflow: hidden;
	width: 50px;
	line-height: 28px;
	cursor: pointer;
	position: relative;  
	text-align:center;
	border-radius:5px;
	border:none; 
	margin-right:10px;
	background:#66a82b; 
	background: #339933;
    background: -moz-linear-gradient(top, #66a82b, #339933);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#66a82b), to(#339933));
    background: -o-linear-gradient(top, #66a82b, #339933);
    background: -ms-linear-gradient(top, #66a82b 0%,#339933 100%);
    background: linear-gradient(top, #66a82b, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66a82b', endColorstr='#339933');
    color: #fff;
    vertical-align: middle;
    margin-bottom: 3px;
}
button:hover{
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
    background: #298529;
    color: #fff;
}

.l-clear{ clear:both; width:1px; height:1px; overflow:hidden;}
.l-hidden {display: none;}
.l-loading
{
    position: absolute;z-index: 91000;  top:40%; left:50%; overflow:hidden;
    background:url('../images/common/loading.gif') no-repeat 0px 0px;width:24px; height:24px; 
     display:none;
}
/* -------------
   * 滚动条颜色 *
* ------------- */ 
.l-scroll
{
        scrollbar-face-color:#C6D7FF; scrollbar-3dlight-color:#B5CBF7; scrollbar-darkshadow-color:#B5CBF7;
        scrollbar-base-color:#B5CBF7;
        scrollbar-shadow-color: #FFF; scrollbar-highlight-color: #FFF;  scrollbar-track-color:#FFF; scrollbar-arrow-color:#4A6184;
}
.l-noscroll
{
    overflow:hidden;
}
/* Draggable */
.l-draggable{ overflow:hidden; border-style:solid; border-width:1px; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:0; left:0; z-index:14000; background:#f2f1f1; border-color:#aaa;}
/* Resizable */
.l-resizable { display:none; overflow:hidden; border-style:dashed; border-width:1px; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:0; left:0; z-index:15000; background:#f2f1f1; } 

 .l-dragging-mask {
    width:100%;height:100%; overflow:hidden; position:absolute;top:0px; left:0px; z-index:11000; display:none;  filter: Alpha
(opacity=1);background:white; -moz-opacity:.01;opacity:0.01;    
}
 /* --------------
   *   icon  *
* ------------ */
.l-icon-checkbox {background:url('../images/icon/checkbox.gif') no-repeat center;}

.l-icon-cross{background:url('../images/icon/cross.gif') no-repeat center; width:16px; height:16px; line-height:16px;}
/* -------------
   * 按钮 *
* ------------- */
.submitcon{padding-left:56px;} 
.l-button{
	height: 28px;
	overflow: hidden;
	width: 50px;
	line-height: 28px;
	cursor: pointer;
	position: relative;  
	text-align:center;
	border:none; 
	margin-right:10px;
	background:#27be4b;
    color: #fff;
    vertical-align: middle;
    margin-bottom: 3px;
}
.search_button{display:inline-block; background:#FF8800; height:30px; line-height:30px; padding:0 12px;margin-bottom: 4px; color:#fff; font-size:14px;text-decoration: none;}
.search_button:hover{color:#fff;}
.search_button .fa{padding-right:6px; font-size:16px;}
.l-button:hover{
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
    background: #298529;
    color: #fff;
}
.l-button-a { 
	height: 28px;
	overflow: hidden;
	width: 50px;
	line-height: 28px;
	cursor: pointer;
	position: relative;  text-align:center;
	color:#fff; border-radius:5px;
	background:#27be4b; border:none; margin-right:10px;
}

.l-button-over{
	background: #FFBE76 url(../images/controls/button-bg-over.gif) repeat-x center; border-color:#D6A886;
}
.l-button-disabled {
	background-image:url('../images/common/button-disabled.gif'); color:#9D9D9E;border: solid 1px #D3D3D3;
}
.l-button-hasicon {
	padding-left: 20px;
}
.l-button-hasicon img {
	position:absolute; top:4px; left:3px; width:16px; height:16px;
}
.payment{ background:#27be4b; color:#fff; padding:4px 10px; height:28px; line-height:28px; border:none;}
/*
    Draggable
*/
.l-drag-proxy { border: 1px solid #BDD1EE;position: absolute;z-index: 1001;height:25px; line-height:25px; padding-left:19px; padding-right:4px; background:white;  }
.l-drag-proxy .l-drop-icon{position: absolute; top:5px; left:4px;width:16px; height:16px; }
.l-drop-no{background: white url('../images/common/drop-icons.gif') no-repeat 0px -20px; width:16px; height:16px; overflow:hidden;}
.l-drop-yes{background: white url('../images/common/drop-icons.gif') no-repeat 0px 0px;  width:16px; height:16px; overflow:hidden;}
.l-drop-add{background: white url('../images/common/drop-icons.gif') no-repeat -20px 0px;  width:16px; height:16px; overflow:hidden;}
.l-drag-coldroptip{width:9px; position:absolute; height:44px; z-index:1000;}
.l-drop-move-up{background:transparent url('../images/common/drop-icons.gif') no-repeat -40px 0px; width:9px; height:9px; overflow:hidden;position:absolute; top:0px;}
.l-drop-move-down{background: transparent url('../images/common/drop-icons.gif') no-repeat -60px 0px; width:9px; height:9px; overflow:hidden; position:absolute; bottom:0px;}
 
 .l-drag-nodedroptip,.l-drag-rowdroptip{width:9px; position:absolute; height:1px; background-color:red; z-index:1000; line-height:1px; overflow:hidden;}
 
 
 
 /* filter */ 
table.l-filter-group{ background:white; font-size:12px;}
table.l-filter-group select,table.l-filter-group .valtxt{border:1px solid #d3d3d3;}
table.l-filter-group .addgroup{}
table.l-filter-group .addrule{}
table.l-filter-group .deletegroup{} 
table.l-filter-group .deleterole{ cursor:pointer;} 
table.l-filter-group-alt{ background:#F2F2F2;} 
td.l-filter-groupcell{ padding-left:20px;} 
td.l-filter-column{ padding:2px;}
td.l-filter-op{padding:2px;}
td.l-filter-value{padding:2px;} 
tr.l-filter-rowlastcell{ text-align:right;_width:300px; min-width:300px;padding:2px;}  
table.l-filter-group-alt,.l-panel table.l-filter-group-alt{background:#f5f5f5;margin-left:20px; margin-top:4px; padding:5px;border:1px solid #d3d3d3;} 
table.l-filter-group-alt .l-filter-value{ padding-right:6px;} 
td.l-filter-cellgroup{ padding:3px;}
table.l-filter-group-alt table.l-filter-group{background:white;margin-left:20px; margin-top:4px; padding:5px;border:1px solid #d3d3d3;} 



/* jquery ui party */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}
/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.1em/*{fsDefault}*/;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa/*{borderColorContent}*/;
	background: #ffffff/*{bgColorContent}*/ url(../images/ui/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #222222/*{fcContent}*/;
}
.ui-widget-content a {
	color: #222222/*{fcContent}*/;
}
.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc/*{bgColorHeader}*/ url(../images/ui/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
	color: #222222/*{fcHeader}*/;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222/*{fcHeader}*/;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3/*{borderColorDefault}*/;
	background: #e6e6e6/*{bgColorDefault}*/ url(../images/ui/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #555555/*{fcDefault}*/;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999/*{borderColorHover}*/;
	background: #dadada/*{bgColorHover}*/ url(../images/ui/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcHover}*/;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa/*{borderColorActive}*/;
	background: #ffffff/*{bgColorActive}*/ url(../images/ui/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcActive}*/;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121/*{fcActive}*/;
	text-decoration: none;
}
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px/*{cornerRadius}*/;
}
.l-table tr td {height: 40px; line-height:40px; padding-right:5px;}
.l-table-edit-td {height: 40px; line-height:40px; padding-right:6px;}
.l-table-edit-td label{ margin-right:10px;}
.borderbox { border:1px solid #CCC; padding:10px; background:#fff;}
.contentbox { border:1px solid #D4D5D7;background:#fafafa; margin:0 10px;}
.formSearchbox{border:1px solid #D4D5D7;background:#fafafa; padding:10px 0; margin:10px 10px 0 10px;}
.formtop{ padding:0 10px 10px 10px;border-bottom:1px solid #D4D5D7;}
.formbottom{ padding:10px 10px 0 10px;}
.borderbox th{text-align:right; margin-bottom:4px;border-bottom:1px solid #D4D5D7;}
.formbottom{display:block;}
.advanSearch{margin-left:10px; color:#919291; text-decoration:underline; }
.addBoxTable{ padding:0; }
.toolbar_btn{ border:1px solid #D4D5D7; background:#fafafa; border-bottom:none; margin:auto 10px;padding:5px 10px;text-align: right;}
.toolbar_btn .l-button-2{display:inline-block; margin:0 4px; background:#27BE4B; padding:0 6px; height:30px; line-height:30px; color:#fff; text-decoration:none;}
.toolbar_btn .l-button-2:hover{color:#eee;}
.toolbar_btn .l-button-2 .fa{ padding-right:6px; font-size:16px;}
.l-button-3{display:inline-block; margin:0 4px; background:#27BE4B; padding:0 6px; height:30px; line-height:30px; color:#fff; text-decoration:none;}
.l-button-3:hover{color:#eee;}
.l-button-3 .fa{ padding-right:6px; font-size:16px;}

.navigaTop{border:none; background:#CACACA; margin:0; padding:0 0 0 10px; height:32px; line-height:32px; color:#696969;}
.navigaTop span{padding:0 3px;}
.navigaTop span.this{font-weight:bold;}
.l-table-edit{margin:4px 0;}
.oteCitySpan_on b{
height: 0;
width: 0;
overflow: hidden;
font-size: 0;
line-height: 0;
border-color: #000 transparent transparent transparent;
border-style: solid dashed dashed dashed;
border-width: 4px;
margin: 7px 10px 0 0px;
}

/*翻页样式*/
.metpager_1 { text-align: center; }
.metpager_2 { text-align: center; }
.metpager_3 { text-align: center; }
.digg4 { padding: 6px; text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; border-top:1px solid #D4D5D7; margin-top:10px; }
.digg4 a, .digg4 span.miy { margin: 2px; text-decoration: none; }
.digg4 .disabledfy { font-family: Tahoma, Verdana; }
.metpager_4 a, .metpager_4 span.miy { border: 1px solid #aaaadd; padding:10px; color: #009; }
.metpager_4 a:hover { border: 1px solid #009; color: #000; }
.metpager_4 a:active { border: 1px solid #009; color: #000; }
.metpager_4 span.current { border: 1px solid #009; background-color: #009; padding:10px; margin: 2px; color: #FFFFFF; text-decoration: none; }
.metpager_4 span.disabled { border: 1px solid #eee; padding:10px; margin: 2px; color: #ddd; }
.metpager_5 a, .metpager_5 span.miy { border: 1px solid #ccdbe4; padding: 2px 8px 2px 8px; color: #0061de; }
.metpager_5 a:hover { border: 1px solid #2b55af; color: #fff; background-color: #3666d4; }
.metpager_5 a:active { border: 1px solid #009; color: #000; }
.metpager_5 span.current { padding: 2px 8px 2px 8px; margin: 2px; color: #000; text-decoration: none; }
.metpager_5 span.disabled { border: 1px solid #ccdbe4; padding: 2px 8px 2px 8px; margin: 2px; color: #ddd; }
.metpager_6 { color: #ff6500; }
.metpager_6 a, .metpager_6 span.miy { border: 1px solid #ff9600; padding: 2px 7px 2px 7px; background-position: 50% bottom; color: #ff6500; background-image: url(../images/page/page6.jpg); }
.metpager_6 a:hover { border: 1px solid #ff9600; color: #ff6500; background-color: #ffc794; }
.metpager_6 a:active { border: 1px solid #ff9600; color: #ff6500; background-color: #ffc794; }
.metpager_6 span.current { border: 1px solid #ff6500; padding: 2px 7px 2px 7px; margin: 2px; color: #ff6500; background-color: #ffbe94; text-decoration: none; }
.metpager_6 span.disabled { border: 1px solid #ffe3c6; padding: 2px 7px 2px 7px; margin: 2px; color: #ffe3c6; }
.metpager_7 a, .metpager_7 span.miy { border: 1px solid #2c2c2c; padding:10px; background: url(../images/page/page7.gif) #2c2c2c; color: #fff; }
.metpager_7 a:hover { border: 1px solid #aad83e; color: #fff; background: url(../images/page/page7_2.gif) #aad83e; }
.metpager_7 a:active { border: 1px solid #aad83e; color: #fff; background:url(../images/page/page7_2.gif) #aad83e;
}
.metpager_7 span.current { border: 1px solid #aad83e; padding:10px; margin: 2px; color: #fff; background: url(../images/page/page7_2.gif) #aad83e; text-decoration: none; }
.metpager_7 span.disabled { border: 1px solid #f3f3f3; padding:10px; margin: 2px; color: #ccc; }
.metpager_8 a, .metpager_8 span.miy { border:none;padding: 8px 10px;color: #555;}
.metpager_8 a:hover { }
.metpager_8 a:hover { border:none; color:#333; }
.metpager_8 .gotoPageInput {text-align:center;height: 30px;padding:4px auto;border: 1px solid #d7d7d7;color: #aaa; margin:0 4px;}
.metpager_8 .btn{border: 1px solid #d7d7d7;padding:4px 10px;height: 30px; color: #666;background-color:#fff;}
.metpager_8 .btndisable{border: 1px solid #d7d7d7;padding:4px 10px;height: 30px; color: #666;background-color:#f0f0f0;}
.metpager_8 .btn:hover {cursor: pointer; color:#000; background:#fff; }
.metpager_8 a.current {  padding:8px 10px; margin: 2px; color: #fff; text-decoration: none; border:none; background:#4DC83F; }
.metpager_8 span.disabled { padding:8px 10px; margin: 2px; color: #555; border-radius: 5px;}
.metpager_9 a, .metpager_9 span.miy { border: 1px solid #ddd; padding:10px; color: #88af3f; }
.metpager_9 a:hover { border: 1px solid #85bd1e; color: #638425; background-color: #f1ffd6; }
.metpager_9 a:hover { border: 1px solid #85bd1e; color: #638425; background-color: #f1ffd6; }
.metpager_9 span.current { border: 1px solid #b2e05d; padding:10px; margin: 2px; color: #fff; background-color: #b2e05d; text-decoration: none; }
.metpager_9 span.disabled { border: 1px solid #f3f3f3; padding:10px; margin: 2px; color: #ccc; }

<!--11-3-->
.fontgray { color:#999999;}
.conten_nav {
width: 950px;
background-color: #fff;
border-bottom: 2px solid #8ab923;
z-index: 1;
}
.conten_nav, .conten_nav ul, .conten_nav li, .reserve_btn, .nav_box, .nav_tit, .nav_tit span, .listdl, .listdl dt, .listdl dd, .listbox, .mainList, .imglist, .imgBox, .imgBox span, .imgBox img, .tab_ico, .float_l, .prompt_air, .holiday_info, .holiday_list, .holiday_list, .holiday_list img, .holiday_list span, .img_holiday, .day_box, .routelist, .day_box b, .day_box span, .day_box img, .bor_Left, .bor_Left p, .garyico, .dl_list, .costbox, .tab_list_s_1, .fee-info, .ico_gray, .list_s_L, .list_s_R, .dpbox {
float: left;
}
.conten_nav .on {
color: #333;
background-color: #8ab923;
}
.conten_nav li {
text-align: center;
width: 88px;
height: 47px;
line-height: 47px;
}
.conten_nav .on a, .conten_nav .on a:hover {
color: #fff;
text-decoration: none;
}
.conten_nav li a {
color: #333;
font-size: 14px;
}
.conten_nav li {
text-align: center;
width: 88px;
height: 47px;
line-height: 47px;
}
.nav_box {
padding: 20px;
margin-bottom: 20px;
width: 910px;
background: #fff;
}
#RouteInfo .route_tit {
position: relative;
}
.route_tit {
background-position: -208px -241px;
}
.nav_tit {
border-bottom: 1px solid #f0f0f0;
color: #64a10a;
font-size: 16px;
width: 910px;
}
.nav_tit span {
padding-left: 25px;
padding-bottom: 5px;
position: relative;
bottom: -1px;
}
.print-info {
position: absolute;
right: 22px;
font-size: 12px;
}
user agent stylesheetdiv {
display: block;
}
Inherited from div.nav_tit.route_tit
.nav_tit {
color: #64a10a;
font-size: 16px;
}
.nav_tit span {
padding-left: 25px;
padding-bottom: 5px;
position: relative;
bottom: -1px;
}
.clear_fix {
	zoom: 1;
}
.clear_fix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}
.fontyellow { color:#fb7d01;}
.desc_bg { background:url(../../img/desc_bg.png) 0 0 repeat-y;}
/*huan*/
.navtitle{color:#333;}
.navtitle .fontgray{color:#666;}
.content_box{margin-top:10px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.inner5{padding:5px;}
.inner10{padding:10px;}
/*详情页*/
.introduce h2{margin:6px 0; font-size:16px; color:#669900;}
.introduce p{text-indent:2em; line-height:22px;}
.introduce p.line{border-bottom:1px dashed #dadada; padding-bottom:8px;}
.detail_extracontent li{float:left; margin-right:10px;}
.htl_info_table th{width:100px; text-align:left; font-weight:bold; padding:8px 0; border-bottom:1px dashed #dadada;}
.htl_info_table td{padding:8px 0;border-bottom:1px dashed #dadada;}